@import '../../../styles/settings.scss';
@import "../../../styles/mixins.scss";


.root {
  .container {
    @include container;

    .title {
      margin: $main-spacing*3 0;
      text-align: center;
      text-transform: uppercase;
      font-family: $font-text;
      letter-spacing: 2px;
    }

    .cards {
      @include flex-cards;
      margin-bottom: $main-spacing*4;

      &__item {
        @include flex-cards-item;
        flex-basis: 30%;

        .cardbox {
          height: 100%;
        }

        .link {
          text-decoration: none;
          color: $color-text;
        }

        .imageContainer {

          .image {
            height: 50vh;
          }
        }

        .text {
          text-align: left;
          font-family: $font-text;
          letter-spacing: 2px;
        }

        .more {
          text-align: center;
          font-size: $base-size;
          padding: $main-spacing;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
