$base-size: 12px;
$main-spacing: 12px;

$font-text: 'Roboto', sans-serif;
$font-text-alternative: 'Oswald', sans-serif;

$color-text: #363535;
$color-text-grey: #818284;
$color-text-light: #e5e2e2;
$color-text-error: #830000;
$color-text-success:rgb(0, 66, 0);
$color-text-alert: #d60000;
$color-text-change: #10417a;
$color-background-light: #e2e2e2;
$color-background-medium: #c9c9c9;
$color-background-dark: #2e2c2c;
$color-background-green: rgb(120, 163, 120);
$color-carousel-text: #f3e2c5;


